<!doctype>
<html>

<head>
	<title>Javelin</title>
	<!--[if !HTML5]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
	<![endif]-->
		 
	<meta charset="utf-8" />

	<!-- http://dev.w3.org/html5/markup/meta.name.html -->
	<meta name="application-name" content="Javelin" />

	<!-- Speaking of Google, don't forget to set your site up:
			 http://google.com/webmasters -->
	<meta name="google-site-verification" content="" />

	<!--  Mobile Viewport Fix
				j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
				device-width: Occupy full width of the screen in its current orientation
				initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
				user-scalable = yes allows the user to zoom in -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/static/images/favicon.png">

	<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/dist/production.min.css">
	<style>
		body {
			padding-left: 0;
		}
		h1 {
			text-align: center;
			font-size: 60pt;
			font-weight: 700; 
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>

<body>

	<div class="container">
		<h1>403</h1>
		<img src="http://www.reactiongifs.com/wp-content/uploads/2013/12/shall-not-pass.gif">
	</div>

</body>

</html>