<div javelin-navbar>
	<% if (!_.contains(authUser.roles, 'student')) { %>
	<a href="/#/people" class="navbar-link ng-fadeinoutleft" ng-show="state.current.name=='people.detail'" style="padding-right: 10px"><span class="fa fa-arrow-left"></span> Back</a>
	<% } %>
	<ol class="breadcrumb collapse">
		<li ng-class="{active: (state.current.name=='people')}">
			<% if (!_.contains(authUser.roles, 'student')) { %><a href="/#/people">People</a><% } else { %>People<% } %>
		</li>
		<li ng-if="state.current.name == 'people.detail'" class="active">
			{{ currentPerson.first_name + ' ' + currentPerson.last_name }}
		</li>
	</ol>
</div>


<% if (!_.contains(authUser.roles, 'student')) { %>
<div class="javelin-main" ng-switch="state.current.name">
	<!-- TABLE -->
	<div ng-switch-when="people" class="slide-inright-outleft">
		<% include table %>
	</div>

	<!-- DETAIL -->
	<div ng-switch-when="people.detail" class="slide-inleft-outright">
		<% include detail %>
	</div>
</div>
<% } else { %>
<div class="javelin-main">
	<!-- DETAIL -->
	<% include detail %>
</div>
<% } %>