<div javelin-navbar>
	<button class="btn navbar-btn btn-green pull-right" ng-click="openCreateCrewModal()"><i class="fa fa-plus"></i> Create Crew</button>
	<a href="/#/orientation" class="navbar-link ng-fadeinoutleft" ng-show="state.current.name=='orientation.crew'" style="padding-right: 10px"><span class="fa fa-arrow-left"></span> Back</a>
	<ol class="breadcrumb">
		<li ng-class="{active: (state.current.name=='orientation')}">
			<a href="/#/orientation">Orientation</a>
		</li>
		<li ng-if="state.current.name == 'orientation.crew'" class="active">
			Crew #{{ currentCrew.id }}
		</li>
	</ol>
</div>

<div class="javelin-main" ng-switch="state.current.name">
	<div ng-switch-when="orientation" class="slide-inright-outleft">
		<div class="panel panel-default panel-tabbed">
			<tabset>
				<tab heading="Crews">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Crew #</th>
								<th>Room</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="!crews || crews.length == 0">
								<td colspan="2" style="text-align:center">
									<strong>No crews. Click "Create Crew" to create one.</strong>
								</td>
							</tr>
							<tr ng-repeat="crew in crews" ng-click="getCrew(crew.id)">
								<td>{{ crew.id }}</td>
								<td>{{ crew.room }}</td>
							</tr>
						</tbody>
					</table>
				</tab>
				<tab heading="Scores">

				</tab>
			</tabset>
		</div>
	</div>
	<div ng-switch-when="orientation.crew" class="slide-inleft-outright">
		<div class="panel panel-default">
			<div class="panel-heading">
				<!-- <button class="btn btn-red pull-right" ng-click="openDeleteGroupModal(currentCrew, $index)"><span class="fa fa-trash-o"></span> Delete Group</button> -->
				<h3>Crew #{{ currentCrew.id }} <small>{{ currentCrew.room }}</small></h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Last Name</th>
							<th>First Name</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="member in currentCrew.crewMembers">
							<td>{{ member.last_name }}</td>
							<td>{{ member.first_name }}</td>
							<td>
								<button class="btn btn-xs btn-blue">
									<span class="fa fa-sign-out"></span> Move
								</button>
								<button class="btn btn-xs btn-teal" data-ui-sref="people.detail({ id: {{ member.id }} })">
									<span class="fa fa-eye"></span> View
								</button>
								<button class="btn btn-xs btn-red">
									<span class="fa fa-trash-o"></span> Delete
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>