<% include header %>

<p style="font-size:12pt">An administrator has invited you to create an account on Javelin! A web application designed with YOU in mind, enhancing educational success and development. Click the link below and you will be all set to go. This link expires in 2 days.</p>
<p style="text-align:center;padding:15px 0;font-size:14pt;">
	<a href="<%= baseUrl %>/#/register/<%= invitation_key %>" style="background-color:#3498DB;padding:10px 16px;color:#FFF;font-size:14px;font-weight:700;text-transform:uppercase;border-radius:4px;text-decoration:none">Register Now</a>
</p>

<% include footer %>